body {
  background-color: #666;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover, a:active {
  color: rgb(224,228,204);
}
/*
   Perspective example:
   http://www.webkit.org/blog-files/3d-transforms/perspective-by-example.html
*/
#experiment {
  margin-top: 100px;
  -webkit-perspective: 800;
  -webkit-perspective-origin: 50% 200px;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  -webkit-transition: -webkit-transform 0.25s linear;
  -webkit-transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 260px;
  width: 260px;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.9);
}

#cube .one {
  -webkit-transform: rotateX(90deg) translateZ(150px);
  background-color: rgba(105, 210, 231, 0.9);
}

#cube .two {
  -webkit-transform: translateZ(150px);
  background-color: rgba(167, 219, 216, 0.9);
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  background-color: rgba(224, 228, 204, 0.9);
}

#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(150px);
  background-color: rgba(243, 134, 48, 0.9);
}

#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  background-color: rgba(250, 105, 0, 0.9);
}

#cube .six {
  -webkit-transform: rotateX(-90deg) translateZ(150px) rotate(180deg);
  background-color: rgba(105, 210, 231, 0.9);
}
